AddTask,
EditTask {
    height: 100%;
    width: 100%;
}

TaskForm {
    height: 1fr;
    width: 100%;
    overflow-y: auto;
}

TaskForm .form_field {
    height: auto;
    margin-bottom: 2;
}

TaskForm .form_field Label {
    text-style: underline;
}

TaskForm .task_name_input {
    width: 100%;
}

TaskForm .task_description_input {
    width: 100%;
    height: 5;
}

TaskForm .task_complete_input {
    width: 30%;
    min-width: 12;
}

TaskForm .task_buttons {
    height: auto;
    width: 100%;
    align-horizontal: center;
}

TaskForm .task_submit_button {
    background: green;
    margin-right: 1;
}

TaskForm .task_cancel_button {
    background: red;
    margin-left: 1;
}