AddTask {
    height: 100%;
}

#add-task-title {
    margin-bottom: 2;
    text-style: bold underline;
}

AddTask .form-field {
    height: auto;
    margin-bottom: 2;
}

#add_task_name_input {
    width: 100%;
}

#add_task_description_group TextArea {
}

#add_task_complete_group {
    height: auto;

}


#add_task_complete_input {
    width: 20;
}

#add_task_buttons {
    width: 100%;
    height: auto;
    margin-top: 1;
    align: center middle;
}

#add_task_buttons Button {
    margin-right: 1;
}

#add_task_button {
    background: green;
}

#add_task_cancel_button {
    background: red;
}